/* 검색 팝업 */
.search_pop_up {position: relative;
height: 100%vh; display: none;
}
.search_pop_up > a {
    position: absolute; left: 87%; top: 6%;
}
.search_pop_up a img {}
.search_pop_up .search {
    max-width: 992px;
    margin: 0 auto 64px;
    padding: 180px 40px;
}
.search_pop_up .search #search_frm {}
.search_pop_up .search #search_frm fieldset {
    display: flex; justify-content: space-between;
    margin-top: 56px;
}
.search_pop_up .search #search_frm fieldset #user_serach_box {
    width: 100%;
    height: 64px; padding: 16px 62px 16px 32px;
    border-radius: 40px;
    background-color: #f4f5f7;
    font-weight: 400;
    font-size: 1.5rem; line-height: 32px;
}
.search_pop_up .search #search_frm fieldset #search_icon {
    margin-left: 20px;
}
.search_pop_up .search .search_sub {
    margin-top: 48px; display: flex; justify-content: space-between;
}
.search_pop_up .search .search_sub .left {
    width: 60%;
}
.search_pop_up .search .search_sub .left h2 {
    font-size: 1.125rem; font-weight: 700; margin-bottom: 24px;
}
.search_pop_up .search .search_sub .left .lanking {
    display: flex; flex-flow: row nowrap; 
}
.search_pop_up .search .search_sub .left .lanking ul {
    padding-right: 110px;
}
.search_pop_up .search .search_sub .left .lanking ul li {
    display: flex; flex-flow: column nowrap; 
}
.search_pop_up .search .search_sub .left .lanking ul li a {
    margin-bottom: 16px;
}
.search_pop_up .search .search_sub .left .lanking ul li a .ranking_num {
    font-weight: 700;
}
.search_pop_up .search .search_sub .left .lanking ul li a .keyword {
    font-weight: 400;
}
.search_pop_up .search .search_sub .right {
    display: flex; flex-flow: column nowrap; justify-content: flex-start;
    width: 70%;
}
.search_pop_up .search .search_sub .right h2 {
    font-size: 1.125rem; font-weight: 700; margin-bottom: 24px;
}
.search_pop_up .search .search_sub .right a {
    margin-bottom: 16px; font-weight: 400;
}
.search_pop_up .search .search_sub .right a::before {
    content: ''; display: inline-block; 
    width: 4px; height: 4px; background-color: #222;
    border-radius: 50%; margin-right: 8px;
    position: relative; top: -3px;
}
/* header top */
#h_bg {}
#h_bg header {max-width: 1760px; padding: 0 42px;  margin: 0 auto;}
#h_bg header .header_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center; height: 66px;
}
#h_bg header .header_top h1 {}
#h_bg header .header_top h1 a {}
#h_bg header .header_top h1 a img {}
#h_bg header .header_top .header_right {
    display: flex; flex-flow: row nowrap; align-items: center;
}
#h_bg header .header_top .header_right .user_icon {
    display: flex; flex-flow: row nowrap;
}
/* right icon 공통 */
#h_bg header .header_top .header_right .user_icon a {
    padding-right: 18px;}
#h_bg header .header_top .header_right .user_icon .user_sreach {}
#h_bg header .header_top .header_right .user_icon .user_sreach img {
    width: 22px; height: 22px;
}
#h_bg header .header_top .header_right .user_icon .user_page {
    position: relative;
}
#h_bg header .header_top .header_right .user_icon .user_page .user_login {
    padding-bottom: 10px;
}
#h_bg header .header_top .header_right .user_icon .user_page .user_login img {
    width: 20px; height: 20px;}
/* 로그인 오픈시 */
#h_bg header .header_top .header_right .user_icon .user_page .user_login_sub {
    display: flex; flex-flow: column nowrap; width: 138px;
    background-color: #fff; border: 1px solid #eee;
    border-radius: 10px; box-shadow: rgba(2px 2px 4px rgba(0,0,0,0.5));
    position: absolute; top: 35px; left: -55px; padding: 4px 0;
    display: none;
}
#h_bg header .header_top .header_right .user_icon .user_page .user_login_sub a {
    font-size: 0.875rem; padding: 8px 0; text-align: center; display: inline-block;
    line-height: 24px;
}
#h_bg header .header_top .header_right .user_icon .user_page .user_login_sub a:hover {
    background-color: #f4f4f4;
}
#h_bg header .header_top .header_right .user_icon .user_page .user_login_sub a:nth-child(2)
{ border-bottom: 1px solid #ccc;}
#h_bg header .header_top .header_right .user_icon .user_page:hover .user_login_sub {
    display: flex;
}
#h_bg header .header_top .header_right .user_icon .user_cart {
    padding: 0 ;}
#h_bg header .header_top .header_right .user_icon .user_cart img {width: 22px; height: 22px;}
#h_bg header .header_top .header_right .user_icon .m_menu {display:none;} /* 모바일용 햄버거바 (숨김처리) */
#h_bg header .header_top .header_right .company_info {
    position: relative; 
}
#h_bg header .header_top .header_right .company_info:hover .company_sub {
    display: flex;
}
#h_bg header .header_top .header_right .company_info > a {}
#h_bg header .header_top .header_right .company_info a {
    font-size: 0.875rem; line-height: 24px; padding-bottom: 20px;
    
}
#h_bg header .header_top .header_right .company_info > a::before {
    content: ''; display:inline-block;
    width: 1px; height: 14px; background-color: #aaa;
    margin: 0 25px 0 25px;
}
#h_bg header .header_top .header_right .company_info > a::after{
    content: ''; display:inline-block;
    width: 1px; height: 14px; background-color: #aaa;
    margin: 0 25px 0 25px;
}
/* 회사소개 오픈시 */
#h_bg header .header_top .header_right .company_info .company_sub {
    display: flex; flex-flow: column nowrap; position: absolute; right: 18px;
    top: 35px; background-color: #fff; border: 1px solid #eee;
    border-radius: 10px; box-shadow: rgba(2px 2px 4px rgba(0,0,0,0.5));
    display: none;
}
#h_bg header .header_top .header_right .company_info .company_sub a {
    padding: 8px 24px; line-height: 24px; text-align: center;
}
#h_bg header .header_top .header_right .company_info .company_sub a:hover {
    background-color: #f4f4f4;
}
#h_bg header .header_top .header_right .company_info .company_sub a img {}
#h_bg header .header_top .header_right > a {
    font-size: 0.875rem; display: inline-block; text-align: center;
}
#h_bg header .header_top .header_right > a img {
}
/* -----------------------------header bottom -------------------------------------------------*/
#h_bg header .header_bottom {
    position: relative;
}
#h_bg header .header_bottom nav {
    display: flex; flex-flow: row nowrap; position: relative;
    align-items: center; height: 40px; border-bottom: 1px solid #eee;
}
#h_bg header .header_bottom nav .gnb_left {
    display: flex; flex-flow: row nowrap;
}
#h_bg header .header_bottom nav .gnb_left li {
    padding: 7px 24px 12px 0;
}
#h_bg header .header_bottom nav .gnb_left li > a {
    font-weight: 600; padding-bottom: 8px;
}

#h_bg header .header_bottom nav .gnb_left li > a:hover{border-bottom: 4px solid #000;}
#h_bg header .header_bottom nav .gnb_left li > a:hover .lnb_bg {display: flex;}
#h_bg header .header_bottom nav .gnb_left li .gnb_left_point {}
#h_bg header .header_bottom nav .gnb_left li .gnb_left_point::after {
    position: absolute; top: 6px; right: 19px;
    width: 4px; height: 4px;
    border-radius: 2px; background-color: #da0f47;
    content: ''; display: inline-block;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg {
    position: absolute; top: 40px; left: 0; width: 100%; display: none;
    /* 카테고리별 디자인 시 편하게 보기위해 가리는용 */
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap {
    display: flex; flex-flow: row nowrap; width: 100%;
}
/* 상단 서브 메뉴 한 줄 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_top {
    display: flex; flex-flow: row nowrap; background-color: aqua;
    border: 1px solid #ccc;
    width: 100%; padding: 25px 0;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_top a {
    margin-right: 20px; background-color: yellow;
    font-size: 0.875rem; text-align: left; color: #666;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_top a:hover {
    border-bottom: 2px solid #000; color: #000;
}
/* 고객지원, 이벤트/멤버십, 스토리, 베스트샵 공통*/
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_top h2 {
    font-size: 1.25rem; font-weight: 700;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb p {
    font-weight: 700; 
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb p a {
    font-weight: 700; 
}
/* lnb btm 공통 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm {
    display: block; display: flex; flex-flow: row nowrap; position: absolute; top: 55px;
    background-color: mediumvioletred; width: 100%; display: none;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left {
    background-color: bisque; width: calc(100% - 400px); margin: 28px 0 40px;
    display: grid;
    grid-template-areas:
    'lnb1 lnb3 lnb5'
    'lnb2 lnb4 lnb5';
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb1 {grid-area: lnb1;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb2 {grid-area: lnb2;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb3 {grid-area: lnb3;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb4 {grid-area: lnb4;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb5 {grid-area: lnb5;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb6 {grid-area: lnb6;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb7 {grid-area: lnb7;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb8 {grid-area: lnb8;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb9 {grid-area: lnb9;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb10 {grid-area: lnb10;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb11 {grid-area: lnb11;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb12 {grid-area: lnb12;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb13 {grid-area: lnb13;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb14 {grid-area: lnb14;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb15 {grid-area: lnb15;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb16 {grid-area: lnb16;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb17 {grid-area: lnb17;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb18 {grid-area: lnb18;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb19 {grid-area: lnb19;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb20 {grid-area: lnb20;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb21 {grid-area: lnb21;}

#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb {
    background-color: pink;  display: block;  width: 100%; display: flex; flex-flow: column nowrap;
    margin-bottom: 32px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb h2 {
    padding-bottom: 16px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb h2 a {
    font-weight: 600; display: inline-block; 
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb > a {
    padding: 8px 18px 0 0 ; font-size: 0.875rem; line-height: 24px; 
    color: #111;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb > a:hover {
    text-decoration-line: underline;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb .tag {
    width: 200px; margin-top: 40px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb .tag a {
    color: #666; border: 1px solid #ddd; border-radius: 8px;
    font-weight: 500; padding: 7px 8px; margin-bottom: 8px; display: inline-block;
    font-size: 0.875rem;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right {
    background-color: orange; margin: 28px 0 64px 0; width:400px; padding: 0 10px;
    text-align: center; 
    
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_img {
    width: 100%;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_img img {
    width:100%; border-radius: 18px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_img span{
    font-size: 1.125rem; font-weight: 800; line-height: 28px; margin: 16px 0 20px 0; display: block;
    text-align: center;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .link {
    font-size: 0.875rem; font-weight: 800; line-height: 20px;
    background-color: #fdf2ff; padding: 10px 13px 10px 16px; display: block;
    border-radius: 6px; height: 40px; width: 100%; text-align: start;
    margin-top: 18px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right a em {
    color: #ea1917; font-size: 0.875rem; font-weight: 800;
}
#h_bg header .header_bottom nav .gnb_right {
    display: flex; flex-flow: row nowrap;
    background-color: #f4f4f4; border-radius: 18px;
    align-items: center; padding: 6px 14px;
    
}
#h_bg header .header_bottom nav .gnb_right li a {
    padding-right: 14px; display: block;
}
#h_bg header .header_bottom nav .gnb_right li .right4 {padding-right: 0;}

/* 카테고리 개별 선택 보이게 하는 선택자 */
#h_bg header .header_bottom nav .gnb_left li:nth-child(1) .lnb_bg {display: block;}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_1 {display: flex;}

/* 제품 소모품 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_2 .lnb_btm_left {
    grid-template-areas: 
    'lnb1 lnb3 lnb4'
    'lnb2 lnb3 lnb4';
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_3 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap; width: 100%;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_3 .lnb_btm_left .col2 {
    display: flex; flex-flow: column nowrap; width: 100%;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_3 .lnb_btm_left .col3 {
    display: flex; flex-flow: column nowrap; width: 100%;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_4 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_4 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_4 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_5 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_5 .lnb_btm_left .col2 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_5 .lnb_btm_left .col3 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_5 .lnb_btm_left .col3 .tag {
    width: 90px; 
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_5 .lnb_btm_left .col3 .tag a {
    color: #666; border: 1px solid #ddd; border-radius: 8px;
    font-weight: 500; padding: 7px 8px; margin-bottom: 8px; display: block;
    font-size: 0.875rem; text-align: center;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_6 .lnb_btm_left .tag a {
    color: #666; border: 1px solid #ddd; border-radius: 8px;
    font-weight: 500; padding: 7px 8px; margin-bottom: 8px; display: inline-block;
    font-size: 0.875rem;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_8 .lnb_btm_left {
    grid-template-rows: repeat(2, 50px);
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_8 .lnb_btm_left .lnb h2 {
    padding: 0;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_9 .lnb_btm_left {
    grid-template-areas: 
    'lnb1 lnb11'
    'lnb2 lnb12'
    'lnb3 lnb13'
    'lnb4 lnb14'
    'lnb5 lnb15'
    'lnb6 lnb16'
    'lnb7 lnb17'
    'lnb8 lnb18'
    'lnb9 lnb19'
    'lnb10 lnb20'
    'lnb10 lnb21';
    grid-template-rows: repeat(11, 50px);
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_9 .lnb_btm_left .lnb h2 {
    padding: 0;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_10 .lnb_btm_left {
    grid-template-areas: 
    'lnb1 lnb10'
    'lnb2 lnb11'
    'lnb3 lnb12'
    'lnb4 lnb13'
    'lnb5 lnb14'
    'lnb6 lnb15'
    'lnb7 lnb16'
    'lnb8 lnb17'
    'lnb9 lnb18'
    'lnb9 lnb19'
    'lnb9 lnb20';
    grid-template-rows: repeat(11, 50px);
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_11 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_11 .lnb_btm_left .col2 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm_11 .lnb_btm_left .col3 {
    display: flex; flex-flow: column nowrap;
}
/* 고객지원 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col2 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col3 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left p {
    margin-bottom: 15px; 
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col3 .lnb7 p a {
    font-weight: 700;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg2 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col3 .lnb7 p:nth-child(1){
    padding-bottom: 20px;
}
/* 구독 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg3 .lnb_wrap .lnb_btm_1 .lnb_btm_left .lnb a {
    font-size: 1.0rem; font-weight: 700; margin-bottom: 32px;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg3 .lnb_wrap .lnb_btm_1 .lnb_btm_left .lnb a:hover {
    text-decoration: none;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg3 .lnb_wrap .lnb_btm_3 .lnb_btm_left {
    grid-template-areas:
    'lnb1 lnb4'
    'lnb2 lnb5'
    'lnb3 lnb3';
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg3 .lnb_wrap .lnb_btm_5 .lnb_btm_left {
    grid-template-areas:
    'lnb1 lnb3'
    'lnb2 lnb4';
}
/* 이벤트/멤버십 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg4 .lnb_wrap .lnb_btm_1 .lnb_btm_left {
    grid-template-areas:
    'lnb1 lnb4'
    'lnb2 lnb5'
    'lnb3 lnb6';
}
/* 스토리 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg5 .lnb_wrap .lnb_btm_1 .lnb_btm_left {
    grid-template-areas:
    'lnb1 lnb4'
    'lnb2 lnb5'
    'lnb3 lnb3';
}
/* 베스트샵 lnb_btm_left 개별 선택자 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg6 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col1 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg6 .lnb_wrap .lnb_btm_1 .lnb_btm_left .col2 {
    display: flex; flex-flow: column nowrap;
}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_left .lnb h2 a img {}

/*  lnb_btm_right 공통*/
/* lnb_btm_3 right 추가 배너 */
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_bnr img {}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_bnr span {font-weight: 600;}
#h_bg header .header_bottom nav .gnb_right li {}
#h_bg header .header_bottom nav .gnb_right li a img {}
#h_bg header .header_bottom nav .gnb_left li .lnb_bg .lnb_wrap .lnb_btm .lnb_btm_right .ad_bnr {
    background-color: #f4f4f4; border-radius: 8px; width: 100%; height: 110px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 0 30px 0 30px; align-items: center;
}
/* 태블릿 사이즈에서 나타나는 전체메뉴 이전,다음 버튼 */
#h_bg header .header_bottom .page_btn {display: none;}
#h_bg header .header_bottom .page_btn .previous_btn {}
#h_bg header .header_bottom .page_btn .previous_btn img {}
#h_bg header .header_bottom .page_btn .next_btn {}
#h_bg header .header_bottom .page_btn .next_btn img {}
/* footer */
.footer_bg {
    padding: 0 40px 48px;
    background: #f4f4f4;
}
.footer_bg footer {
    max-width: 1284px;
    margin: 0 auto; padding-top: 24px;
}
.footer_bg footer .top {
    padding-bottom: 16px; display: flex; justify-content: space-between;
}
.footer_bg footer .top .lang {
    padding: 8px 0; position: relative;
}
.footer_bg footer .top .lang a {
    font-size: 0.75rem; font-weight: 500;
}
.footer_bg footer .top .lang a img {
    width: 14px; position: relative; top: 2px; left: 2px;
}
.footer_bg footer .top .lang .lang_sub {
    display: flex; flex-flow: column nowrap;
    /* padding: 4px 0; */
    border-radius: 4px;
    background: #fff;
    box-shadow: 2px 4px 12px 0 rgba(0,0,0,.16);
    position: absolute; top: 33px; width: max-content;
    left: 50%; transform: translateX(-50%);
}
/* lang_sub 공통 */
.footer_bg footer .top .lang .lang_sub a {
    display: block;
    padding: 0 20px;
    font-size: 0.75rem;
    line-height: 4;
    text-align: center;
    font-weight: 600;
}
.footer_bg footer .top .lang .lang_sub .ko {
    background: #f4f4f4;
}
.footer_bg footer .top .lang .lang_sub .en {}
.footer_bg footer .top .sns {
    display: flex; justify-content: flex-end;
}
.footer_bg footer .top .lang .lang_sub .en:hover {
    background: #f4f4f4;
}
.footer_bg footer .top .sns a {
    display: flex; flex-flow: row nowrap; align-items: center;
    
}
.footer_bg footer .top .sns a img {}
/* a img 개별 */
.footer_bg footer .top .sns a span {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 16px;
    color: #666;
    max-width: 56px;
    margin-right: 15px;
}
.footer_bg footer .bottom {
    padding-top: 16px;
    border-top: 1px solid #ddd;
}
.footer_bg footer .bottom .law {}
.footer_bg footer .bottom .law a {
    font-size: 0.75rem; line-height: 16px;
    margin-right: 8px;
}
.footer_bg footer .bottom .law a em {
    font-size: 0.75rem; font-weight: 700;
}
.footer_bg footer .bottom .tel_info {
    display: flex; margin-top: 8px;
}
.footer_bg footer .bottom .tel_info dt {
    font-size: 0.75rem; color: #666;
}
.footer_bg footer .bottom .tel_info dd {
    font-size: 0.75rem; font-weight: 500;
}
.footer_bg footer .bottom .tel_info dd::after {
    content: ''; display: inline-block;
    width: 1px; height: 8px; background-color: #aaa;
    margin: 0 8px; 
}
.footer_bg footer .bottom .tel_info dd:last-child::after{
    display: none;
}
.footer_bg footer .bottom .time_info {
    margin: 8px 0 10px; font-size: 0.75rem; color: #666;
    line-height: 16px; 
}
.footer_bg footer .bottom .company_info {
    margin: 4px 0 12px; 
}
.footer_bg footer .bottom .company_info span {
    font-size: 0.75rem; color: #767676;
    margin-right: 10px;
}
.footer_bg footer .bottom .company_info a {
    font-size: 0.75rem; color: #767676;
    margin-right: 10px;
    background-color: #777;
    padding: 1px 8px; color: #fff;
    border-radius: 16px;
    display: inline-block;
    font-weight: 500;
}
.footer_bg footer .bottom .Copyright_wrap {
    display: flex; justify-content: space-between; align-items: flex-end;
}
.footer_bg footer .bottom .Copyright_wrap .Copyright {
    font-size: 0.75rem; color: #767676;
    line-height: 1.5; font-weight: 500;
}
.footer_bg footer .bottom .Copyright_wrap .logo_icon {}
.footer_bg footer .bottom .Copyright_wrap .logo_icon a {
    margin-left: 12px;
}
.footer_bg footer .bottom .Copyright_wrap .logo_icon a img {
    width: 48px; height: 48px;
}
.footer_bg footer .bottom .Copyright_wrap .logo_icon .logo1 {}
.footer_bg footer .bottom .Copyright_wrap .logo_icon .logo1 img {}
.footer_bg footer .bottom .Copyright_wrap .logo_icon .logo2 {}
.footer_bg footer .bottom .Copyright_wrap .logo_icon .logo2 img {}
/* 메인페이지 하단 챗봇, 상단이동 아이콘 */
.bottom_icon {position: fixed; bottom: 5%; right: 3%; z-index: 999; 
    display: flex; flex-flow: column nowrap; align-items: flex-end;
}
.bottom_icon #chat {
    border-radius: 50%; width: 56px; height: 56px;
    background: #ea1917; display: block; margin-bottom: 15px;
}
.bottom_icon #chat img {
    width: 100%;
}
.bottom_icon #top_move {
    background-color: #fff; width: 56px; height: 56px;
    border-radius: 50%; display: block; box-shadow: 0 4px 11px 0 rgba(0,0,0,.15);
    text-align: center; margin-bottom: 15px;
}
.bottom_icon #top_move img {
    position: relative;
    top: 10px;
}
.bottom_icon #join_benefit_bg {
    border-radius: 20px;
    background: rgba(10,22,34,.9);
    display: block;
    padding: 8px 10px;
}
.bottom_icon #join_benefit_bg .text_box {
    display: flex;
}
.bottom_icon #join_benefit_bg .text_box p {
    font-size: 0.875rem; color: #fff;
    line-height: 20px; font-weight: 400; margin-right: 5px;
    letter-spacing: -0.5px;
}
.bottom_icon #join_benefit_bg .text_box p img {}
.bottom_icon #join_benefit_bg .text_box .close {
    position: relative; top: 2px; margin: 0;
}
.bottom_icon #join_benefit_bg .text_box .close img {}