main {}
/* 메인 배너 */
main .container {}
main .container .main_bnr {
    position: relative; 
}
main .container .main_bnr .main_bnr_item {
    display: flex; width: max-content; overflow-x: scroll;
}
main .container .main_bnr .main_bnr_item li {
    display: block; width: 1920px; height: 600px;
}
/* 메인배너 공통 */
main .container .main_bnr .main_bnr_item li a {
    display: block; height: 100%;
}
main .container .main_bnr .main_bnr_item li a h2,
main .container .main_bnr .main_bnr_item li a p {}
main .container .main_bnr .main_bnr_item li a h2 {
    color: #fff;
}
main .container .main_bnr .main_bnr_item li a p {
    color: #fff;
}
main .container .main_bnr .main_bnr_item li a video {}
/* 메인배너 배경 개별 */
main .container .main_bnr .main_bnr_item li .main_bnr1 {
    background: url(../images/main_bnr/main_bnr1.png) no-repeat center;
    background-size: cover;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 {
    background: url(../images/main_bnr/img_main_bnr_05.jpg) no-repeat center;
    background-size: cover;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box {
    position: absolute; top: 110px; left: 120px;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box h2 {}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box p {}
main .container .main_bnr .main_bnr_item li .main_bnr3 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr4 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr5 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr6 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr7 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr8 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr9 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr10 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr11 {display: none;}
main .container .main_bnr .main_bnr_item li .main_bnr12 {display: none;}
/* 메인 배너 버튼 공통 */
main .container .main_bnr .active_btn {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 0 250px; align-items: center;
}
/* 배너 버튼 왼쪽 */
main .container .main_bnr .active_btn .left_btn {
    position: absolute; bottom: 35px;
}
main .container .main_bnr .active_btn .left_btn #stop_btn {}
main .container .main_bnr .active_btn .left_btn #stop_btn img {}
/* 배너 버튼 오른쪽 */
main .container .main_bnr .active_btn .right_btn {
    display: flex; position: absolute; bottom: 35px; right: 13%;
}
main .container .main_bnr .active_btn .right_btn .page_btn {
    background: rgba(0,0,0,.35);
    width: 7.1875vw;
    height: 1.875vw;
    border-radius: 0.9375vw;
    text-align: center;
    display: flex; justify-content: center; align-items: center;
    
}
/* 페이지 버튼 text 공통  */
main .container .main_bnr .active_btn .right_btn .page_btn span {
    color: #fff; font-size: 0.75rem; padding: 3px;
}
main .container .main_bnr .active_btn .right_btn .page_btn .previous_btn {}
main .container .main_bnr .active_btn .right_btn .page_btn .previous_btn img {
    width: 1.145833vw;
    height: 1.145833vw;
    background-size: 1.25vw;
}
main .container .main_bnr .active_btn .right_btn .page_btn .present_page {}
main .container .main_bnr .active_btn .right_btn .page_btn .all_page {}
main .container .main_bnr .active_btn .right_btn .page_btn .next_btn {}
main .container .main_bnr .active_btn .right_btn .page_btn .next_btn img {
    width: 1.145833vw;
    height: 1.145833vw;
    background-size: 1.25vw;
}
main .container .main_bnr .active_btn .right_stop_btn {}
main .container .main_bnr .active_btn .right_stop_btn .stop_btn {
    margin-left: 0.416667vw;
    width: 1.875vw;
    height: 1.875vw;
}
main .container .main_bnr .active_btn .right_stop_btn .stop_btn img {
    width: 1.875vw;
    height: 1.875vw;
}
/* small 메뉴 bar */
main .container .small_menu {
    display: flex; padding: 80px 0 88px; justify-content: center; align-items: center;
}
main .container .small_menu li {
    display: flex; flex-flow: column nowrap;
    margin-right: 40px; align-items: center;
}
main .container .small_menu li:last-child {
    margin-right: 0;
}
main .container .small_menu li .img {
    width: 60px; display: flex; flex-flow: column nowrap; align-items: center; 
}
main .container .small_menu li .img img {
    width: 100%;
}
main .container .small_menu li .title {
    line-height: 24px; white-space: nowrap; padding-top: 10px; font-weight: 700;
}
/* 서브 배너 */
main .container .sub_bnr {
    width: 100%; margin: 0 auto;
    display: block; max-width: 1476px;
    padding: 0 48px;
}
/* 서브배너 a 공통 */
main .container .sub_bnr a {
    display: block; height: 180px; 
}
/* 서브배너 text box h2 공통 */
main .container .sub_bnr .bnr1 .sub_bnr_text h2,
main .container .sub_bnr .bnr2 .sub_bnr_text h2 {
    font-size: 1.5rem; color: #fff; font-weight: 700;
    position: absolute; left: 8%; top: 30%;
}
/* 서브배너 text box p 공통 */
main .container .sub_bnr .bnr1 .sub_bnr_text p,
main .container .sub_bnr .bnr2 .sub_bnr_text p {
    line-height: 24px; color: #fff;
    opacity: .7; line-height: 32px;
    position: absolute; left: 8%; top: 50%;
}
main .container .sub_bnr .bnr1 {
    background: url(../images/sub_bnr_01.jpg) no-repeat center;
    background-size: cover;  border-radius: 20px;
    position: relative; margin-top: 40px;
}
main .container .sub_bnr .bnr1 .sub_bnr_text {}
main .container .sub_bnr .bnr1 .sub_bnr_text h2 {}
main .container .sub_bnr .bnr1 .sub_bnr_text p {}
main .container .sub_bnr .bnr1 .sub_bnr_text p img {}
main .container .sub_bnr .bnr2 {
    background: url(../images/sub_bnr_02.jpg) no-repeat center;
    background-size: cover; border-radius: 20px;
    position: relative; margin: 40px 0 52px 0;
}
main .container .sub_bnr .bnr2 .sub_bnr_text {}
main .container .sub_bnr .bnr2 .sub_bnr_text h2 {}
main .container .sub_bnr .bnr2 .sub_bnr_text p {}
main .container .sub_bnr .bnr2 .sub_bnr_text p img {}
/* 지금 주목해야 할 제품 */
main .container .sale_item {
    background-color: aqua; max-width: 1476px;
    margin: 80px auto 48px; padding: 80px 48px;
}
main .container .sale_item h1 {
    font-size: 1.75rem;
}
main .container .sale_item p {
    font-size: 1.25rem; margin: 8px 0 32px;
}
main .container .sale_item .content {
    display: flex; width: max-content; overflow-x: scroll;
    justify-content: space-between;
}
main .container .sale_item .content .item_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 0 auto; padding-right: 25px;
}
main .container .sale_item .content .item_contents .item {
    display: flex; flex-flow: column nowrap; background-color: red;
    width: calc(100% / 4); margin-right: 10px;

}
main .container .sale_item .content .item_contents .item:last-child {padding: 0;}
main .container .sale_item .content .item_contents .item .item_img {position: relative;}
main .container .sale_item .content .item_contents .item .item_img::after {
    content: ''; display: block;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, .035);
    position: absolute; left: 0; top: 0;
    z-index: 99; border-radius: 16px;
}
main .container .sale_item .content .item_contents .item .item_img img {
    border-radius:16px; width: 100%;
}
main .container .sale_item .content .item_contents .item .item_img span {
    position: absolute; left: 78%; top: 7%;
}
main .container .sale_item .content .item_contents .item .item_img span img {
    width: 48px;
}
main .container .sale_item .content .item_contents .item .item_info {
    padding: 16px 8px;
}
main .container .sale_item .content .item_contents .item_contents .item .item_info h2 {
    font-size: 1.25rem;
}
main .container .sale_item .content .item_contents .item .item_info:nth-child(2) h2 {
    font-weight: 700;
}
main .container .sale_item .content .item_contents .item .item_info h2 span {
    font-size: 1.25rem; font-weight: 700;
}
main .container .sale_item .content .item_contents .item .item_info .item_number {
    line-height: 1.43; font-size: 1rem;
    color: #666; margin-top: 2px;
}
main .container .sale_item .content .item_contents .item .item_info .item_price {}
/* 베스트 랭킹 */
main .container .best_item {
    background-color: #f8f8f8; padding: 100px 48px; margin: 0 auto; max-width: 1476px;
    width: 1500px;
}
/* 베스트 랭킹 상단 타이틀 */
main .container .best_item .title {
    display: flex; justify-content: space-between;
}
main .container .best_item .title .title_left {}
main .container .best_item .title .title_left h1 {
    font-size: 1.75rem; font-weight: 700;
}
main .container .best_item .title .title_left p {
    font-size: 1.25rem;
}
main .container .best_item .title .more {}
main .container .best_item .title .more img {position: relative; top: 2px;}
/* 베스트 랭킹 하단 아이콘 */
main .container .best_item .icon {}
/* 베스트 랭킹 하단 아이콘 (양 옆 페이지 버튼)*/
main .container .best_item .icon .page_btn {}
main .container .best_item .icon .page_btn .previous_btn {} /* 처음에는 숨겨져있음 */
main .container .best_item .icon .page_btn .previous_btn img {
    transform: scaleX(-1);
}
main .container .best_item .icon .page_btn .next_btn {}
main .container .best_item .icon .page_btn .next_btn img {}
/* 베스트 랭킹 하단 아이콘 (슬라이드 아이콘)*/
main .container .best_item .icon .slide_icon {
    background-color: yellow; display: flex; width: 100%; overflow-x: scroll; overflow-y: hidden;
}
main .container .best_item .icon .slide_icon .icon_items {
    display: flex; background-color: aqua;
}
main .container .best_item .icon .slide_icon .icon_items .item {}
main .container .best_item .icon .slide_icon .icon_items .item a {
    display: flex; flex-flow: column nowrap; align-items: center; width: 90px;
    margin: 0 6px 0;
}
main .container .best_item .icon .slide_icon .icon_items .item a span {}
main .container .best_item .icon .slide_icon .icon_items .item a .img {
    background-color: #fff; border-radius: 30px; border: 1px solid #eee;
    display: block; width: 100%; height: 56px;
}
main .container .best_item .icon .slide_icon .icon_items .item a .img img {
    max-height: 100%;
}
main .container .best_item .icon .slide_icon .icon_items .item a .icon_name {
    margin-top: 8px; text-align: center;
    color: #666; font-weight: 500;
}
/* 베스트 랭킹 하단 아이콘 (슬라이드 아이콘 혼수이사/1인가구/베스트추천)*/
main .container .best_item .icon .slide_icon .event_items {
    background-color: pink; display: flex;
    
}
main .container .best_item .icon .slide_icon .event_items li {}
main .container .best_item .icon .slide_icon .event_items li a {
    border-radius: 24px; padding: 13px 13px 0; height: 52px; display: block;
    position: relative;
}
main .container .best_item .icon .slide_icon .event_items li a span {
    color: #fff; line-height: 28px; display: block; 
    text-align: center; 
}
main .container .best_item .icon .slide_icon .event_items li a img {
    position: absolute; left: 40%; bottom: -3px; width: 16px;
}
/* 베스트 랭킹 하단 아이콘 (슬라이드 아이콘 혼수이사/1인가구/베스트추천 개별)*/
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(1) a {
    background-color: #2C3641;}
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(2) a {
    background-color: #882B60;}
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(3) a {
    background-color: #5D2323;}
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(1) a span {}
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(2) a span {}
main .container .best_item .icon .slide_icon .event_items li:nth-of-type(3) a span {}
    
/* 카테고리별 랭킹 */
main .container .best_item .content_box {
    display: flex; width: max-content;
}
main .container .best_item .content_box .content_item {
    width: calc((100% - 48px)/ 3); display: flex;
}
main .container .best_item .content_box .content_item .lanking {
    background-color: #fff; padding: 32px; border-radius: 16px; margin: 20px 24px 0 0;
}
main .container .best_item .content_box .content_item .lanking:last-child {
    margin: 20px 0 0 0;
}
main .container .best_item .content_box .content_item .lanking a {}
main .container .best_item .content_box .content_item .lanking a .lanking_num {}
main .container .best_item .content_box .content_item .lanking a .lanking_num img {
    width: 16px; height: 36px;
}
main .container .best_item .content_box .content_item .lanking a .lanking_img {}
main .container .best_item .content_box .content_item .lanking a .lanking_img img {}
main .container .best_item .content_box .content_item .lanking a .content_badge {}
main .container .best_item .content_box .content_item .lanking a .content_badge span {
    color: #ea1917; font-size: 0.75rem; font-weight: 400;
    line-height: 18px;
}
main .container .best_item .content_box .content_item .lanking a h2 {
    font-size: 1.125rem; line-height: 27px; margin-top: 12px; color: #333;
    font-weight: 700;
}
main .container .best_item .content_box .content_item .lanking a h2 span {
    font-weight: 700; font-size: 1.125rem; line-height: 27px;
}
main .container .best_item .content_box .content_item .lanking a h2 em {
    font-size: 1.125rem; line-height: 27px; color: #333; font-weight: 700;
}
main .container .best_item .content_box .content_item .lanking a h2 em::before {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; position: relative; top: -5px; right: 3px; margin: 0 3px;
}
main .container .best_item .content_box .content_item .lanking a h2 em::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; position: relative; top: -5px; right: 0; margin: 0 5px;
}
main .container .best_item .content_box .content_item .lanking a .item_number {
    color: #666; font-size: 0.75rem; margin-top: 4px;
    line-height: 18px;
}
main .container .best_item .content_box .content_item .lanking a .item_price {
    font-size: 1.25rem; line-height: 28px; font-weight: 700;
}
/* 감사를 전하는 연말 선물  */
main .container .event_item {
    max-width: 1476px; padding: 80px 48px;
    margin: 0 auto;
}
main .container .event_item .event_title {
    margin-bottom: 32px; display: flex; justify-content: space-between;
}
main .container .event_item .event_title .title_left {}
main .container .event_item .event_title .title_left h1 {
    font-size: 1.75rem; font-weight: 700; line-height: 36px;
}
main .container .event_item .event_title .title_left p {
    margin-top: 8px; line-height: 24px; font-size: 1.25rem;
}
main .container .event_item .event_title .more {
}
main .container .event_item .event_title .more img {
    width: 16px; position: relative; top: 2px;
}
main .container .event_item .content {
    display: flex; flex-flow: row nowrap;
    
}
main .container .event_item .content .item_left {
    width: calc(100% / 2 - 24px); background-color: #fff; 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_left a {}
main .container .event_item .content .item_left a .item_img {}
main .container .event_item .content .item_left a .item_img img {
    width: 100%; border-top-left-radius: 16px; border-top-right-radius: 16px;
}
main .container .event_item .content .item_left a .item_info {
    padding: 29px 32px 32px;
}
main .container .event_item .content .item_left a .item_info h2 {
    font-size: 1.25rem; font-weight: 700;
}
main .container .event_item .content .item_left a .item_info .item_number {
    color: #666; margin-top: 2px;
}
main .container .event_item .content .item_left a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* item - right */
main .container .event_item .content .item_right {
    display: flex; flex-flow: column nowrap; width: calc(100% / 2 - 10px);
    margin-left: 24px; justify-content: space-between;
}
/* left-item top */
main .container .event_item .content .item_right .item_top {
    background-color: #fff; height: calc(100% / 2 - 10px); 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_right .item_top a {
    display: flex; flex-flow: row nowrap; padding: 22px 32px 21px;
    justify-content: space-between;
}
main .container .event_item .content .item_right .item_top a .item_img {
    
}
main .container .event_item .content .item_right .item_top a .item_img img {
    width: 200px; height: 200px; border-top-left-radius: 16px;
}
main .container .event_item .content .item_right .item_top a .item_info {
    margin-left: 40px; padding-top: 39px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; color: #333;
    letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 span {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 span::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; margin: 0 5px; position: relative; top: -5px;
}
main .container .event_item .content .item_right .item_top a .item_info .item_number {
    color: #666; margin-top: 2px; font-weight: 400;
}
main .container .event_item .content .item_right .item_top a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* left-item bottom */
main .container .event_item .content .item_right .item_bottom {
    background-color: #fff; height: calc(100% / 2 - 10px); 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_right .item_bottom a {
    display: flex; flex-flow: row nowrap; padding: 22px 32px 21px;
}
main .container .event_item .content .item_right .item_bottom a .item_img {
    width: 200px; height: 200px; 
}
main .container .event_item .content .item_right .item_bottom a .item_img img {
    width: 100%; border-top-left-radius: 16px;
}
main .container .event_item .content .item_right .item_bottom a .item_info {
    margin-left: 40px; padding-top: 39px;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px; color: #333;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 span {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 span::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; margin: 0 5px; position: relative; top: -5px;
}
main .container .event_item .content .item_right .item_bottom a .item_info .item_number {
    color: #666; margin-top: 2px; font-weight: 400;
}
main .container .event_item .content .item_right .item_bottom a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* 브랜드 쇼룸 */
main .container .brand_item {
    max-width: 1476px; margin: 0 auto;
}
main .container .brand_item h1 {
    font-size: 1.75rem; font-weight: 700; margin-bottom: 32px;
}
main .container .brand_item .page_btn {
    display: flex;
} /* 처음에는 숨김처리 */
main .container .brand_item .page_btn .previous_btn {}
main .container .brand_item .page_btn .previous_btn img {
    box-shadow: 2px 4px 16px 0 rgba(0,0,0,.14); width: 40px;
    height: 40px; display: block;
    border-radius: 50%; transform: scaleX(-1);
}
main .container .brand_item .page_btn .next_btn {}
main .container .brand_item .page_btn .next_btn img {
    box-shadow: 2px 4px 16px 0 rgba(0,0,0,.14); width: 40px;
    height: 40px; display: block;
    border-radius: 50%;
}
main .container .brand_item .content {
    display: flex; width: max-content;
}
main .container .brand_item .content .item {
    display: flex; flex-flow: column nowrap; width: calc(100% / 4 - 30px / 4);
} 
main .container .brand_item .content .item p {}
main .container .brand_item .content .item p img {
    width: 100%;
}
main .container .brand_item .content .item h2 {}
/* 최신 제품 소식 */
main .container .latest_item {}
main .container .latest_item h1 {}
main .container .latest_item .content {}
main .container .latest_item .content .item {}
main .container .latest_item .content .item .item_img {}
main .container .latest_item .content .item .item_img img {}
main .container .latest_item .content .item h2 {}
/* 슬기로운 가전 생활 */
main .container .review {}
main .container .review .title {}
main .container .review .title h1 {}
main .container .review .title .more {}
main .container .review .title .more img {}
main .container .review .content {}
main .container .review .content .item {}
main .container .review .content .item .item_img {}
main .container .review .content .item .item_img img {}
main .container .review .content .item .user_review {}
main .container .review .content .item .user_review span {}
main .container .review .content .item .h2 {}
/* bottom 배너 */
main .container .bottom_bnr {}
main .container .bottom_bnr a {}
main .container .bottom_bnr a h2 {}
main .container .bottom_bnr a p {}
main .container .bottom_bnr a p img {}
/* 놓치면 아쉬운 혜택 */
main .container .benefit_item {}
main .container .benefit_item .title {}
main .container .benefit_item .title h1 {}
main .container .benefit_item .title .more {}
main .container .benefit_item .title .more img {}
main .container .benefit_item .content {}
main .container .benefit_item .content a {}
main .container .benefit_item .content a .item_img {}
main .container .benefit_item .content a .item_img img{}
main .container .benefit_item .content a .h2 {}
/* 베스트샵 이용 안내 */
main .container .service_bg {}
main .container .service_bg .service {}
main .container .service_bg .service .content {}
main .container .service_bg .service .content .left {}
main .container .service_bg .service .content .left h1 {}
main .container .service_bg .service .content .left p {}
main .container .service_bg .service .content .right {}
main .container .service_bg .service .content .right .list {}
main .container .service_bg .service .content .right .list a {}
main .container .service_bg .service .content .right .list a .text_wrap {}
main .container .service_bg .service .content .right .list a .text_wrap p {}
main .container .service_bg .service .content .right .list a .text_wrap p h2 {}