/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 50px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
html::-webkit-scrollbar {width: 5px; border-radius: 50px; }/*스크롤바 크기*/
html::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
html::-webkit-scrollbar-thumb {background-color: #222;border-radius: 50px;}/*스크롤 드래그바*/
html::-webkit-scrollbar-thumb:hover {background-color: #555;}

body {
    overflow-x: hidden;
}
main {}
/* 메인 배너 */
main .container {}
main .container .main_bnr {
    position: relative; 
    max-width: 1920px; 
    margin: 0 auto;
    height: 600px;
    overflow: hidden;
}
main .container .main_bnr .main_bnr_item {
    display: flex; 
    width: max-content;
    overflow: hidden;
}
main .container .main_bnr .main_bnr_item li {}
/* 메인배너 공통 */
main .container .main_bnr .main_bnr_item li a {
    display: block; height: 100%; width: 100%;
}
main .container .main_bnr .main_bnr_item li a h2,
main .container .main_bnr .main_bnr_item li a p {}
main .container .main_bnr .main_bnr_item li a h2 {
    color: #fff;
}
main .container .main_bnr .main_bnr_item li a p {
    color: #fff;
}
main .container .main_bnr .main_bnr_item li a video {}
/* 메인배너 배경 개별 */
main .container .main_bnr .main_bnr_item li .main_bnr1 {
    background: url(../images/main_bnr/Hero_Kitchen_PC.avif) no-repeat center;
    background-size: cover;
}
main .container .main_bnr .main_bnr_item li .main_bnr1 .txt_box {
    max-width: 1680px; margin: 0 auto; padding: 150px;
}
main .container .main_bnr .main_bnr_item li .main_bnr1 .txt_box h2 {
    font-size: 2.75rem; color: #222;
}
main .container .main_bnr .main_bnr_item li .main_bnr1 .txt_box p {
    color: #222; margin-top: 12px; font-size: 1.125rem;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 {
    background: url(../images/main_bnr/img_main_bnr_05.jpg) no-repeat center;
    background-size: cover;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box {
    max-width: 1476px; margin: 0 auto;
    padding: 140px;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box h2 {
    font-size: 2.5rem; line-height: 1.5; letter-spacing: -0.5px;
}
main .container .main_bnr .main_bnr_item li .main_bnr2 .txt_box p {
    font-size: 1.25rem; margin-top: 12px;
}

main .container .main_bnr .page {
    display: flex;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 99;
    width: 150px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.35);
}
main .container .main_bnr .page .pagination {
    color: #fff;
    text-align: center;
}
main .container .main_bnr .page .pagination .swiper-pagination-current {
    color: #fff;
    margin-right: 5px;
}
main .container .main_bnr .page .pagination .swiper-pagination-total {
    color:#c2c2c0;
    margin-left: 5px;
}
main .container .main_bnr .play-pause-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 10.5%;
    right: 7%;
    z-index: 99;
    cursor: pointer;
}
main .container .main_bnr .play-pause-btn img {
    width: 100%;
    height: 100%;
}

/* 메인배너 버튼 공통 */
main .container .main_bnr .page #main_prev_btn::after,
main .container .main_bnr .page #main_next_btn::after {
    display: none;
}
/* 메인배너 prev 버튼 */
main .container .main_bnr .page #main_prev_btn {
    background: url("https://www.lge.co.kr/lg5-common/images/icons/btn-arr-36x36-lt.svg")
    no-repeat center;
    background-size: 25px;
}

/* 메인배너 next 버튼 */
main .container .main_bnr .page #main_next_btn {
    background: url("https://www.lge.co.kr/lg5-common/images/icons/btn-arr-36x36-rt.svg")
    no-repeat center;
    background-size: 25px;
}

/* small 메뉴 bar */
main .container .small_menu {
    display: flex; padding: 80px 0 88px; justify-content: center; align-items: center;
    max-width: 1476px; margin: 0 auto;
}
main .container .small_menu li {
    display: flex; flex-flow: column nowrap;
    margin-right: 60px; align-items: center;
}
main .container .small_menu li:last-child {
    margin-right: 0;
}
main .container .small_menu li .img {
    width: 60px; display: flex; flex-flow: column nowrap; align-items: center; 
}
main .container .small_menu li .img img {
    width: 100%;
}
main .container .small_menu li .title {
    line-height: 24px; white-space: nowrap; padding-top: 10px; font-weight: 700;
}
/* 서브 배너 */
main .container .sub_bnr {
    width: 100%; margin: 0 auto;
    display: block; max-width: 1476px;
    padding: 0 48px;
}
/* 서브배너 a 공통 */
main .container .sub_bnr a {
    display: block; height: 180px; 
}
/* 서브배너 text box h2 공통 */
main .container .sub_bnr .bnr1 .sub_bnr_text h2,
main .container .sub_bnr .bnr2 .sub_bnr_text h2 {
    font-size: 1.5rem; color: #fff; font-weight: 700;
    position: absolute; left: 8%; top: 30%;
}
/* 서브배너 text box p 공통 */
main .container .sub_bnr .bnr1 .sub_bnr_text p,
main .container .sub_bnr .bnr2 .sub_bnr_text p {
    line-height: 24px; color: #fff;
    opacity: .7; line-height: 32px;
    position: absolute; left: 8%; top: 50%;
}
main .container .sub_bnr .bnr1 {
    background: url(../images/sub_bnr_01.jpg) no-repeat center;
    background-size: cover;  border-radius: 20px;
    position: relative; margin-top: 40px;
}
main .container .sub_bnr .bnr1 .sub_bnr_text {}
main .container .sub_bnr .bnr1 .sub_bnr_text h2 {}
main .container .sub_bnr .bnr1 .sub_bnr_text p {}
main .container .sub_bnr .bnr1 .sub_bnr_text p img {}
main .container .sub_bnr .bnr2 {
    background: url(../images/sub_bnr_02.jpg) no-repeat center;
    background-size: cover; border-radius: 20px;
    position: relative; margin: 40px 0 52px 0;
}
main .container .sub_bnr .bnr2 .sub_bnr_text {}
main .container .sub_bnr .bnr2 .sub_bnr_text h2 {}
main .container .sub_bnr .bnr2 .sub_bnr_text p {}
main .container .sub_bnr .bnr2 .sub_bnr_text p img {}
/* 지금 주목해야 할 제품 */
main .container .sale_item {
    max-width: 1476px;
    margin: 80px auto 48px; padding: 80px 48px;
}
main .container .sale_item h1 {
    font-size: 1.75rem;
}
main .container .sale_item p {
    font-size: 1.25rem; margin: 8px 0 32px;
}
main .container .sale_item .content {
    display: flex; width: max-content;
    justify-content: space-between;
}
main .container .sale_item .content .item_contents_bg {
    width: 1400px; overflow-x: auto;
    scrollbar-width: 10px; scrollbar-color: #222 #f1f1f1;
}

main .container .sale_item .content .item_contents_bg .item_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 0 auto; padding-right: 25px; width: max-content;
}
main .container .sale_item .content .item_contents_bg .item_contents .item {
    display: flex; flex-flow: column nowrap;
    width: calc(100% / 4); margin-right: 24px;

}
main .container .sale_item .content .item_contents_bg .item_contents .item:last-child {padding: 0;}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_img {position: relative;}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_img::after {
    content: ''; display: block;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, .035);
    position: absolute; left: 0; top: 0;
    z-index: 99; border-radius: 16px;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_img img {
    border-radius:16px; width: 100%;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_img span {
    position: absolute; left: 78%; top: 7%;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_img span img {
    width: 48px;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_info {
    padding: 16px 8px;
}
main .container .sale_item .content .item_contents_bg .item_contents .item_contents .item .item_info h2 {
    font-size: 1.25rem;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_info:nth-child(2) h2 {
    font-weight: 700;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_info h2 span {
    font-size: 1.25rem; font-weight: 700;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_info .item_number {
    line-height: 1.43; font-size: 1rem;
    color: #666; margin-top: 2px;
}
main .container .sale_item .content .item_contents_bg .item_contents .item .item_info .item_price {}
/* 베스트 랭킹 */
main .container .best_item {
    background-color: #f8f8f8;
}
main .container .best_item .content_bg {
    padding: 100px 48px; margin: 0 auto; max-width: 1476px;
}
/* 베스트 랭킹 상단 타이틀 */
main .container .best_item .content_bg .title {
    display: flex; justify-content: space-between;
}
main .container .best_item .content_bg .title .title_left {}
main .container .best_item .content_bg .title .title_left h1 {
    font-size: 1.75rem; font-weight: 700; margin-bottom: 10px;
}
main .container .best_item .content_bg .title .title_left p {
    font-size: 1.25rem; margin-bottom: 32px;
}
main .container .best_item .content_bg .title .more {}
main .container .best_item .content_bg .title .more img {position: relative; top: 2px;}
/* 베스트 랭킹 하단 아이콘 */
main .container .best_item .content_bg .icon_bg {
    position: relative;
}
/* 베스트 랭킹 하단 아이콘 (양 옆 페이지 버튼)*/
main .container .best_item .content_bg .icon_bg .previous_btn {
    position: absolute; left: 0%;
    bottom: 27%;
} /* 처음에는 숨겨져있음 */
main .container .best_item .content_bg .icon_bg .previous_btn img {
    transform: scaleX(-1);
}
main .container .best_item .content_bg .icon_bg .next_btn {
    position: absolute; left: 97%;
    bottom: 27%;
}
main .container .best_item .content_bg .icon_bg .next_btn img {}
/* 베스트 랭킹 하단 아이콘 (슬라이드 아이콘)*/
main .container .best_item .content_bg .icon_bg .icon_container {}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon {
    overflow: hidden;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items {
    display: flex;
    justify-content: flex-start;
    width: max-content;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item {
    width: 90px !important; height: auto;
}
main .container .best_item .content_bg .icon_bg .slide_icon .icon_items .item a {
    display: flex; flex-flow: column nowrap; align-items: center; width: 90px;
    margin: 0 6px 0; 
}
main .container .best_item .content_bg .icon_bg .slide_icon .icon_items .item:last-child {
    position: relative;
}
main .container .best_item .content_bg .icon_bg .slide_icon .icon_items .item:last-child::after {
    content: ''; display: inline-block; width: 1px; height: 30px; background-color: #aaa;
    margin: 0 40px; position: absolute; left: 90%; top: 13%;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item a .img {
    background-color: #fff; border-radius: 30px; border: 1px solid #eee;
    display: block; width: 100%; height: 56px; text-align: center;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item a .img img {
    max-height: 100%; height: 100%;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item a .icon_name {
    margin-top: 8px; text-align: center;
    color: #666; font-weight: 500;
    display: block;
}

/* 베스트 랭킹 하단 아이콘 (슬라이드 아이콘 혼수이사/1인가구/베스트추천)*/
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item15,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item16,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item17 {
    width: 150px !important;
}


main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item15 a,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item16 a,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item17 a {
    border-radius: 24px; 
    padding: 13px 13px 0; 
    height: 52px; 
    display: block;
    position: relative;
    margin: 0 10px;
    width: 100%;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item15 a span,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item16 a span,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item17 a span {
    color: #fff; line-height: 28px; display: block; 
    text-align: center; 
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item15 a img,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item16 a img,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item17 a img{
    position: absolute; 
    width: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item15 a {
    background-color: #2C3641;
    color: #fff;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item16 a {
    background-color: #882B60;
    color: #fff;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon .icon_items .item17 a {
    background-color: #5D2323;
    color: #fff;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_prev_btn {
    background-color: aqua ;
    
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_prev_btn {
    
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_prev_btn::before,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_next_btn::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100%;
    transform: translateY(-50%);
    z-index: 0;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_next_btn::before {
    right: 0;
    background-image: linear-gradient(to left, #f8f8f8 57%, rgba(244, 244, 244, 0));
    
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_next_btn {
    width: 72px;
    height: 120px;
    background-color: red;
    background: url(../images/icon/btn-arr-72x72.svg) no-repeat center;
    top: 0;
    right: 0;
    z-index: 99;
}
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_next_btn {
}

main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_prev_btn::after,
main .container .best_item .content_bg .icon_bg .icon_container .slide_icon #best_next_btn::after {
    display: none;
}

    
/* 카테고리별 랭킹 */
main .container .best_item .content_bg .item_container .content_box {
    display: flex; max-width: 1476px; overflow-x: auto;
}
main .container .best_item .content_bg .item_container .content_box .content_item {
    display: flex; width: max-content; margin-top: 16px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking {
    background-color: #fff; padding: 32px; border-radius: 16px; margin-right: 24px;
    width: 443px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a {
    
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .lanking_num {}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .lanking_num img {
    width: 16px; height: 36px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .lanking_img {}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .lanking_img img {}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .content_badge {}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .content_badge span {
    color: #ea1917; font-size: 0.75rem; font-weight: 400;
    line-height: 18px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a h2 {
    font-size: 1.125rem; line-height: 27px; margin-top: 12px; color: #333;
    font-weight: 700;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a h2 span {
    font-weight: 700; font-size: 1.125rem; line-height: 27px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a h2 em {
    font-size: 1.125rem; line-height: 27px; color: #333; font-weight: 700;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a h2 em::before {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; position: relative; top: -5px; right: 3px; margin: 0 3px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a h2 em::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; position: relative; top: -5px; right: 0; margin: 0 5px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .item_number {
    color: #666; font-size: 0.75rem; margin-top: 4px;
    line-height: 18px;
}
main .container .best_item .content_bg .item_container .content_box .content_item .lanking a .item_price {
    font-size: 1.25rem; line-height: 28px; font-weight: 700;
}
/* 감사를 전하는 연말 선물  */
main .container .event_item {
    max-width: 1476px; padding: 80px 48px;
    margin: 0 auto;
}
main .container .event_item .event_title {
    margin-bottom: 32px; display: flex; justify-content: space-between;
}
main .container .event_item .event_title .title_left {}
main .container .event_item .event_title .title_left h1 {
    font-size: 1.75rem; font-weight: 700; line-height: 36px;
}
main .container .event_item .event_title .title_left p {
    margin-top: 8px; line-height: 24px; font-size: 1.25rem;
}
main .container .event_item .event_title .more {
}
main .container .event_item .event_title .more img {
    width: 16px; position: relative; top: 2px;
}
main .container .event_item .content {
    display: flex; flex-flow: row nowrap;
    
}
main .container .event_item .content .item_left {
    width: calc(100% / 2 - 24px); background-color: #fff; 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_left a {}
main .container .event_item .content .item_left a .item_img {}
main .container .event_item .content .item_left a .item_img img {
    width: 100%; border-top-left-radius: 16px; border-top-right-radius: 16px;
}
main .container .event_item .content .item_left a .item_info {
    padding: 29px 32px 32px;
}
main .container .event_item .content .item_left a .item_info h2 {
    font-size: 1.25rem; font-weight: 700;
}
main .container .event_item .content .item_left a .item_info .item_number {
    color: #666; margin-top: 2px;
}
main .container .event_item .content .item_left a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* item - right */
main .container .event_item .content .item_right {
    display: flex; flex-flow: column nowrap; width: calc(100% / 2 - 10px);
    margin-left: 24px; justify-content: space-between;
}
/* left-item top */
main .container .event_item .content .item_right .item_top {
    background-color: #fff; height: calc(100% / 2 - 10px); 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_right .item_top a {
    display: flex; flex-flow: row nowrap; padding: 22px 32px 21px;
    justify-content: space-between;
}
main .container .event_item .content .item_right .item_top a .item_img {
    
}
main .container .event_item .content .item_right .item_top a .item_img img {
    width: 200px; height: 200px; border-top-left-radius: 16px;
}
main .container .event_item .content .item_right .item_top a .item_info {
    margin-left: 40px; padding-top: 39px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; color: #333;
    letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 span {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_top a .item_info h2 span::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; margin: 0 5px; position: relative; top: -5px;
}
main .container .event_item .content .item_right .item_top a .item_info .item_number {
    color: #666; margin-top: 2px; font-weight: 400;
}
main .container .event_item .content .item_right .item_top a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* left-item bottom */
main .container .event_item .content .item_right .item_bottom {
    background-color: #fff; height: calc(100% / 2 - 10px); 
    border-radius: 16px;
    box-shadow: 1px 1px 18px -4px rgba(0,0,0,.14);
}
main .container .event_item .content .item_right .item_bottom a {
    display: flex; flex-flow: row nowrap; padding: 22px 32px 21px;
}
main .container .event_item .content .item_right .item_bottom a .item_img {
    width: 200px; height: 200px; 
}
main .container .event_item .content .item_right .item_bottom a .item_img img {
    width: 100%; border-top-left-radius: 16px;
}
main .container .event_item .content .item_right .item_bottom a .item_info {
    margin-left: 40px; padding-top: 39px;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px; color: #333;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 span {
    font-weight: 700; font-size: 1.25rem; line-height: 28px; letter-spacing: -1px;
}
main .container .event_item .content .item_right .item_bottom a .item_info h2 span::after {
    content: ''; display: inline-block; width: 3px; height: 3px; background-color: #333;
    border-radius: 50%; margin: 0 5px; position: relative; top: -5px;
}
main .container .event_item .content .item_right .item_bottom a .item_info .item_number {
    color: #666; margin-top: 2px; font-weight: 400;
}
main .container .event_item .content .item_right .item_bottom a .item_info .item_price {
    margin-top: 22px; font-weight: 700; font-size: 1.25rem;
}
/* 브랜드 쇼룸 */
main .container .brand_item {
    max-width: 1476px; margin: 0 auto; padding: 80px 40px;
}
main .container .brand_item h1 {
    font-size: 1.75rem; font-weight: 700; margin-bottom: 32px;
}
main .container .brand_item .content_bg {
    position: relative;
}
main .container .brand_item .content_bg .previous_btn {
    position: absolute; left: -1.5%; bottom: 55%;
}
main .container .brand_item .content_bg .previous_btn img {
    box-shadow: 2px 4px 16px 0 rgba(0,0,0,.14); width: 40px;
    height: 40px; display: block;
    border-radius: 50%; transform: scaleX(-1);
}
main .container .brand_item .content_bg .next_btn {
    position: absolute; left: 97%; bottom: 55%;
}
main .container .brand_item .content_bg .next_btn img {
    box-shadow: 2px 4px 16px 0 rgba(0,0,0,.14); width: 40px;
    height: 40px; display: block;
    border-radius: 50%;
}
main .container .brand_item .content_bg .item_container {
    max-width: 1476px; overflow-x: auto; display: flex; margin: 0 auto;
}
main .container .brand_item .content_bg .item_container .content {
    display: flex; width:max-content;
}
main .container .brand_item .content_bg .item_container .content .item {
    display: flex; flex-flow: column nowrap; width: 330px;
    margin-bottom: 32px; margin-right: 20px;
} 
main .container .brand_item .content_bg .item_container .content .item p {}
main .container .brand_item .content_bg .item_container .content .item p img {
    width: 100%; border-radius: 16px;
}
main .container .brand_item .content_bg .item_container .content .item h2 {
    font-size: 1.25rem; font-weight: 700; margin-top: 20px;
}
/* 최신 제품 소식 */
main .container .latest_item {background: #f1f1f1; display: flex; justify-content: center;
padding: 100px 48px;}
main .container .latest_item .container {
    display: flex;
}
main .container .latest_item .container .title {
    margin-right: 24px; justify-content: space-between;
}
main .container .latest_item .container .title h1 {
    font-size: 1.75rem; font-weight: 700; line-height: 36px;
    padding-right: 190px; padding-top: 50px;
}
main .container .latest_item .container .content_bg {
    width: 1000px; overflow-x: auto; overflow-y: hidden;
}
main .container .latest_item .container .content_bg .content {
    display: flex; width: max-content;
}
main .container .latest_item .container .content_bg .content .item {
    display: flex; flex-flow: column nowrap; width: 310px; margin-right: 24px;
    padding-bottom: 16px;
}
main .container .latest_item .container .content_bg .content .item .item_img {}
main .container .latest_item .container .content_bg .content .item .item_img img {
    width: 100%; border-radius: 16px;
}
main .container .latest_item .container .content_bg .content .item h2 {
    font-size: 1.25rem; font-weight: 700; line-height: 28px;
    margin-top: 16px; padding: 0 16px 0 8px;
}
/* 슬기로운 가전 생활 */
main .container .review {
    max-width: 1476px; margin: 0 auto; padding: 100px 0 80px;
}
main .container .review .title {display: flex; justify-content: space-between; margin-bottom: 32px;}
main .container .review .title h1 {
    font-size: 1.75rem; font-weight: 700;
}
main .container .review .title .more {}
main .container .review .title .more img {}
main .container .review .content_bg .content {
    display: flex; justify-content: space-between;
}
main .container .review .content_bg .content .item {
    width: calc(100% / 4 - 16px);
}
main .container .review .content_bg .content .item .item_img {
    height: 350px; overflow: hidden; border-radius: 16px;
}
main .container .review .content_bg .content .item .item_img img {
    width: 100%;
}
main .container .review .content_bg .content .item .item_txt {
    margin-top: 16px; display: block;
}
main .container .review .content_bg .content .item .item_txt p {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #767676;
}
main .container .review .content_bg .content .item .item_txt h2 {
    margin-top: 4px;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: 500;
}
/* bottom 배너 */
main .container .bottom_bnr {
    padding: 80px 0;
    max-width: 1476px; margin: 0 auto;
}
main .container .bottom_bnr a {
    background: url(https://www.lge.co.kr/kr/dcr/images/main/main-home/img-story-banner-up-pc_0722.jpg) no-repeat center ;
    display: block; height: 180px;
    background-size: cover;
    margin: 0 auto;
    max-width: 1470px;
    border-radius: 16px;
}
main .container .bottom_bnr a h2 {
    font-size: 1.5rem; font-weight: 700;
    position: relative; top: 60px; left: 120px;
}
main .container .bottom_bnr a p {margin-top: 10px;
    position: relative; top: 60px; left: 120px;}
main .container .bottom_bnr a p img {margin-left: 4px; position: relative; top: 2px;}
/* 놓치면 아쉬운 혜택 */
main .container .benefit_item {
    max-width: 1476px; margin: 0 auto; padding: 40px 0 80px;
}
main .container .benefit_item .title {
    display: flex; justify-content: space-between;
}
main .container .benefit_item .title h1 {
    font-size: 1.75rem; font-weight: 700; margin-bottom: 32px;
}
main .container .benefit_item .title .more {}
main .container .benefit_item .title .more img {}
main .container .benefit_item .content {
    display: flex; justify-content: space-between;
}
main .container .benefit_item .content a {
    
}
main .container .benefit_item .content a .item_img {
    
}
main .container .benefit_item .content a .item_img img{
    border-radius: 16px;
}
main .container .benefit_item .content a h2 {
    margin-top: 16px; font-size: 1.25rem; font-weight: 700; line-height: 28px;
}
/* 베스트샵 이용 안내 */
main .container .service_bg {
    background: #f1f1f1;
}
main .container .service_bg .service {
    max-width: 1476px; margin: 0 auto;
}
main .container .service_bg .service .content {
    display: flex; justify-content: space-between; padding: 80px 0;
}
main .container .service_bg .service .content .left {}
main .container .service_bg .service .content .left h1 {
    font-size: 1.75rem; font-weight: 700;
}
main .container .service_bg .service .content .left p {
    margin-top: 8px; font-size: 1.25rem; font-weight: 500;
}
main .container .service_bg .service .content .right {
    display: grid;
    grid-template-areas:  
    'list1 list2'
    'list3 list4';
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(2, 500px);
}
/* list 공통 */
main .container .service_bg .service .content .right .list {
    padding: 32px; background-color: #fff; border-radius: 16px;
    
}
/* list 개별 */
main .container .service_bg .service .content .right .list1 {
    grid-area: list1; margin-right: 24px; margin-bottom: 24px;
}
main .container .service_bg .service .content .right .list2 {
    grid-area: list2; margin-bottom: 24px;}
main .container .service_bg .service .content .right .list3 {grid-area: list3; margin-right: 24px;
}
main .container .service_bg .service .content .right .list4 {
    grid-area: list4;
}
main .container .service_bg .service .content .right .list a {
    position: relative;
}
main .container .service_bg .service .content .right .list a .list_img {}
main .container .service_bg .service .content .right .list a .list_img img{
    
}
/* list_img 개별 */
main .container .service_bg .service .content .right .list:nth-child(1) a .list_img img{
    position: absolute; right: 0; bottom: -40%;
}
main .container .service_bg .service .content .right .list:nth-child(2) a .list_img img{
    position: absolute; right: 0%; bottom: -18%;
}
main .container .service_bg .service .content .right .list:nth-child(3) a .list_img img{
    position: absolute; right: 0%; bottom: -32%; 
}
main .container .service_bg .service .content .right .list:nth-child(4) a .list_img img{
    position: absolute; right: 0%; bottom: -40%; 
}
main .container .service_bg .service .content .right .list a .text_wrap {
    padding: 32px 0;
}
main .container .service_bg .service .content .right .list a .text_wrap p {
    line-height: 24px; opacity: .7;
}
main .container .service_bg .service .content .right .list a .text_wrap h2 {
    font-weight: 700; margin-top: 4px; font-size: 1.5rem; line-height: 32px;
}