@import 'common2';

main {
    .path {
        display: flex;
        max-width: 1760px;
        margin: 0 auto;
        padding: 8px 42px;
        a {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 22px;
        }
        img {
            margin: 0 4px;
            position: relative; 
            top: 1px;
        }
        span {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 22px;
        }
    }
    .container {
        padding-top: 60px;
        .product {
            width: 1380px;
            padding: 0 40px;
            @include flex-row-btw-ct;
            margin: 0 auto;
            margin-bottom: 100px;
            .left {
                width: calc(100% / 2);
                .thumb {
                    width: 100%;
                    text-align: center;
                    max-height: 660px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .thumb_wrap {
                    display: flex;
                    a {
                        width: 90px;
                        height: 90px;
                        border: 1px solid #ddd;
                        border-radius: 6px;
                        margin: 0 0 5px 24px;
                        &:nth-child(1) {
                            margin: 0;
                            position: relative;
                        }
                        &:nth-child(1)::before {
                            content: '';
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, .25);
                            position: absolute;
                            border-radius: 6px;
                        }
                        &:nth-child(1)::after {
                            content: '';
                            display: inline-block;
                            background: url(../images/product_sub/icon_play_btn.svg) no-repeat center;
                            width: 32px;
                            height: 32px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 30%;
                        }
                        &:nth-child(2){
                            border: 2px solid #333;
                        }
                        &:nth-child(6){
                            position: relative;
                        }
                        &:nth-child(6)::before {
                            content: '';
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            background: rgba(34, 34, 34, 0.8);
                            border-radius: 6px;
                            position: absolute;
                        }
                        &:nth-child(6)::after {
                            display: inline-block;
                            color: #fff;
                            content: '+1';
                            font-weight: 600;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 35% ;
                        } 
                        img {
                            width: 100%;
                            border-radius: 6px;
                        }
                    }
                }
            }
            > .right {
                width: 560px;
                .title {
                    @include flex-row-btw-ct;
                    margin-bottom: 12px;
                    h2 {
                        font-weight: 700;
                        font-size: $px28;
                    }
                    .icon {
                        display: flex;
                        .wish {
                            margin-right: 10px;
                            #wish_icon {
                                appearance: none;
                                & + label::before {
                                    content: '';
                                    display: inline-block;
                                    width: 24px;
                                    height: 24px;
                                    background: url(../images/product_sub/icon_wish_off.svg) no-repeat center;
                                }
                                &:checked + label::before {
                                    background: url(../images/product_sub/icon_wish_on.svg)no-repeat center;
                                }
                            }
                            label {
                            }
                        }
                        .share {
                            .share_icon {
                                img {}
                            }
                            .share_open {
                                display: none;
                                .top {
                                    span {}
                                    img {}
                                }
                                .link {
                                    a {
                                        img {}
                                        span {}
                                    }
                                }
                            }
                        }
                    }
                }
                .model {
                    @include flex-row-btw-ct;
                    margin-bottom: 32px;
                    .left {
                        display: flex;
                        align-items: center;
                        a {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 5px;
                            }
                            .num {
                                color: #666;
                                font-weight: 500;
                                &::after {
                                    content: '';
                                    display: inline-block;
                                    width: 1px;
                                    height: 16px;
                                    background-color: #ddd;
                                    margin: 0 13px;
                                }
                            }
                        }
                        .review {
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            &::before {
                                content: '';
                                display: inline-block;
                                background: url(../images/product_sub/icon_star.svg) no-repeat center; 
                                width: 24px;
                                height: 24px;
                                background-size: 24px 24px;
                            }
                            img {}
                        }
                    }
                    .right {
                        a {
                            display: flex;
                            align-items: center;
                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
                >.price {
                    border: 1px solid #333;
                    border-radius: 16px;
                    padding: 20px 32px 21px;
                    margin-bottom: 20px;
                    .origin_p {
                        float: right;
                        font-weight: 500;
                        color: #666;
                        text-decoration: line-through;
                    }
                    .dis_p {
                        margin-top: 20px;
                        @include flex-row-btw-ct;
                        .left {
                            span {
                                display: flex;
                                align-items: center;
                                font-weight: 700;
                                a {
                                    margin-left: 5px;
                                    img {}
                                }
                            }
                        }
                        .right {
                            .rate {
                                color: #ea1917;
                                font-weight: 500;
                            }
                            .discount {
                                font-size: 22px;
                                font-weight: 700;
                            }
                        }
                    }
                    .benefit {
                        margin-top: 20px;
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                        padding: 12px 0;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $px14;
                        img {
                            margin-left: 4px;
                            cursor: pointer;
                        }
                    }
                    .benefit_open {
                        padding: 20px;
                        background-color: #f8f8f8;
                        border-bottom: 1px solid #ddd;
                        position: relative;
                        top: -1px;
                        .price {
                            @include flex-row-btw-ct;
                            border-bottom: 1px solid #ddd;
                            padding-bottom: 8px;
                            dt {
                                font-weight: 600;
                            }
                            dd{
                                font-weight: 600
                            }
                        }
                        .member_p {
                            @include flex-row-btw-ct;
                            margin-top: 10px;
                            padding-bottom: 8px;
                            dt {
                                font-weight: 500;
                                color:#666;
                            }
                            dd {
                                font-weight: 500;
                                color:#666;
                            }
                        }
                        .total_p {
                            @include flex-row-btw-ct;
                            padding-bottom: 8px;
                            margin-top: 16px;
                            dt {
                                font-weight: 600;
                            }
                            dd {
                                font-weight: 500;
                                color: #ea1917;
                            }
                        }
                    }
                    .notice {
                        font-size: $px12;
                        padding-top: 16px;
                        letter-spacing: -0.2px;
                        em {
                            font-size: $px12;
                            font-weight: 700;
                        }
                    }
                }
                .bnr {
                    position: relative;
                    padding: 28px 0 28px 40px;
                    background: #f4f4f4;
                    border-radius: 16px;
                    @include flex-row-btw-ct;
                    .left {
                        display: flex;
                        flex-flow: column;
                        :nth-child(2) {
                            margin-top: 8px;
                            font-size: $px20;
                            color: #000;
                            font-weight: 800;
                            line-height: 24px;
                        }
                        :nth-child(3){
                            font-size: $px16;
                            color: #666;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            margin-top: 4px;
                        }
                        span {
                            font-size: $px14;
                            color: #767676;
                            img {}
                        }
                    }
                    .right {
                        width: 116px;
                        height: 103px;
                        margin-right: 40px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .buy_benefit {
                    padding-bottom: 33px;
                    border-bottom: 1px solid #ddd;
                    p {
                        padding-top: 40px;
                        padding-bottom: 20px;
                        font-weight: 800;
                        font-size: $px20;
                    }
                    .card {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        :nth-child(1) {
                            padding-right: 40px;
                            color: #666;
                        }
                        span {
                            display: flex;
                            font-weight: 500;
                        }
                    }
                }
                .delivery {
                    padding: 18px 0;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #ddd;
                    .icon {
                        img {}
                    }
                    p {
                        font-size: $px18;
                        margin-left: 14px;
                        font-weight: 600;
                    }
                }
                .option {
                    margin-top: 30px;
                    .num {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 30px;
                        span {
                            font-weight: 400;
                            line-height: 24px;
                        }
                        .num_btn {
                            display: flex;
                            align-items: center;
                            #minus_btn {
                                width: 32px;
                                height: 32px;
                                @include flex-row-ct-ct;
                                border: 1px solid #ddd;
                                border-top-left-radius: 6px ;
                                border-bottom-left-radius: 6px ;
                                border-right: 0;
                                
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                            #number {
                                width: 48px;
                                height: 32px;
                                font-size: $px14;
                                text-align: center;
                                font-weight: 600;
                                border: 1px solid #ddd;
                            }
                            #plus_btn {
                                @include flex-row-ct-ct;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #ddd;
                                border-top-right-radius: 6px ;
                                border-bottom-right-radius: 6px ;
                                border-left: 0;
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                    .total {
                        @include flex-row-btw-ct;
                        :nth-child(2) {
                            font-weight: 500;
                            font-size: $px22;
                        }
                        span {

                        }
                    }
                    .btn {
                        display: flex;
                        margin-top: 30px;
                        #wish_btm {
                            appearance: none;
                            & + label::before {
                                content: '';
                                display: inline-block;
                                width: 50px;
                                height: 50px;
                                background: url(../images/product_sub/icon_wish_big_off.svg)no-repeat center;
                                background-size: 32px 32px;
                                border: 1px solid #000;
                                border-radius: 8px;
                            }
                            &:checked + label::before {
                                background: url(../images/product_sub/icon_wish_big_on.svg)no-repeat center;
                            }
                        }
                        label {} 
                        #cart_btn {
                            margin-left: 8px;
                            width: 100%;
                            margin-right: 8px;
                            background: #fff;
                            border: 1px solid #222;
                            padding: 14px 25px;
                            font-size: $px14;
                            border-radius: 8px;
                            margin-right: 8px;
                            font-weight: 500;
                        }
                        #buy_btn {
                            width: 100%;
                            padding: 14px 25px;
                            font-size: $px14;
                            border-radius: 8px;
                            background-color: $red;
                            color: #fff;
                            font-weight: 500;
                        } 
                    }
                }
            }
        }
        .cate_bset {
            max-width: 1460px;
            padding: 0 40px;
            margin: 0 auto;
            h3 {
                font-size: $px24;
                font-weight: 500;
                line-height: 1.2;
            }
            .contents_box {
                margin: 0 auto;
                margin-top: 32px;
                width: 100%;
                overflow: hidden;
                overflow-x: auto;
                .content {
                    display: flex;
                    width: max-content;
                    
                    .item {
                        width: 255px;
                        margin-right: 25px;
                        padding-bottom: 16px;
                        .item_img {
                            padding: 24px;
                            border: 1px solid #ddd;
                            border-radius: 13px;
                            
                            img {
                                width: 100%;
                            }
                        }
                        p {
                            margin-top: 16px;
                            line-height: 1.4;
                            overflow: hidden;
                            font-size: $px20;
                            font-weight: 700;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-break: break-all !important;
                            
                        }
                        .model_num {
                            line-height: 1.5;
                            font-size: $px16;
                            font-weight: 500;
                            color: #666;
                            margin-top: 0;
                        }
                        .price {
                            display: inline-block;
                            line-height: 1.4;
                            font-size: $px20;
                            font-weight: 500;
                            text-align: center;
                        }
                    }
                    .item10 {
                        margin-right: 0;
                    }
                }
            }
        }
        .banner {
            max-width: 1440px;
            padding: 120px 30px 120px;
            margin: 0 auto;
            a {
                img {
                    border-radius: 16px;
                }
            }
        }
        .detail {
            .menu_tab {
                max-width: 1380px;
                margin: 0 auto;
                padding-bottom: 14px;
                border-bottom: 1px solid #ddd;
                a {
                    padding: 14px 20px 0 0;
                    font-size: $px18;
                    color: #666;
                }
            }
            .menu_tab_scroll {
                .title {
                    display: none;
                    padding: 0 40px;
                    width: 1460px;
                    margin: 0 auto;
                    .inner {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #ddd;
                        background-color: #fff;
                        h2 {
                            font-size: $px22;
                            font-weight: 700;
                        }
                        .tab {
                            display: flex;
                            align-items: center;
                            a {
                                display: block;
                                font-size: $px18;
                                color: #666;
                                font-weight: 500;
                                padding: 16px 17px 14px;
    
                                &:last-child {
                                    background-color: #ea1917;
                                    font-size: $px14;
                                    padding: 12px 24px;
                                    border-radius: 26px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .desc_tab {
                    width: 100%;
                    background: #fff;
                    box-shadow: 0 4px 6px 0 rgba(0,0,0,.1);
                    position: relative;
                    z-index: 99;
                    .inner {
                        display: flex;
                        justify-content: space-between;
                        max-width: 1460px;
                        padding: 0 40px;
                        margin: 0 auto;
                        .tab_open {
                            display: none;
                            img {}
                        }
                        a {
                            display: block;
                            padding: 20px 10px;
                            font-size: $px14;
                            font-weight: 700;
                            text-align: center;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            width: calc(50% - 40px);
                            padding-left: 40px;
                            color: #666;
                        }
                    }
                } 
            }
            #desc {
                // text 공통
                .big_txt {
                    font-size: $px48;
                    font-weight: 700;
                    display: block;
                }
                .small_txt {
                    font-size: $px18;
                    font-weight: 500;
                    display: block;
                }

                .desc_sub1 {
                    position: relative;
                    padding-bottom: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                    }
                    .txt_box {
                        position: absolute;
                        top: 80px;
                        left: 50%;
                        transform: translateX(-50%);
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        .big_txt {
                            font-size: $px48;
                            font-weight: 700;
                        }
                        .small_txt {
                            margin-top: 32px;
                            font-weight: 500;
                            font-size: $px18;
                        }
                    }
                }
                .desc_sub2 {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 60px;
                    .left {
                        position: relative;
                        padding: 12px;
                        img {}
                        .txt_box {
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            padding-top: 50px;
                            span {
                                &:nth-child(1) {
                                    font-size: $px20;
                                    font-weight: 700;
                                    text-shadow: 1px 1px 1px white;
                                    padding-bottom: 20px;
                                }
                                &:nth-child(2) {
                                    font-size: $px32;
                                    font-weight: 700;
                                    text-shadow: 1px 1px 1px white;
                                }
                            }
                        }
                    }
                    .right {
                        position: relative;
                        padding: 12px;
                        img {}
                        .txt_box {
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            padding-top: 50px;
                            span {
                                &:nth-child(1) {
                                    color: #fff;
                                    font-size: $px20;
                                    font-weight: 700;
                                    text-shadow: 1px 1px 1px black;
                                    padding-bottom: 20px;
                                }
                                &:nth-child(2) {
                                    color: #fff;
                                    font-size: $px32;
                                    font-weight: 700;
                                    text-shadow: 1px 1px 1px black;
                                }
                            }
                        }
                    }
                }
                .desc_sub3 {
                    max-width: 1460px;
                    padding: 60px 40px 0;
                    margin: 0 auto;
                    .desc_top {
                        display: flex;
                        align-items: center;
                        .left {
                            width: 50%;
                            display: flex;
                            flex-flow: column;
                            padding-right: 96px;
                            .big_txt {}
                            .small_txt {
                                margin-top: 20px;
                                line-height: 28px;
                            }
                            em {
                                font-size: $px14;
                                color: #666;
                                margin-top: 12px;
                                line-height: 24px;
                                font-weight: 500;
                            }
                        }
                        .right {
                            width: 50%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .desc_btm {
                        padding: 60px 0;
                        display: flex;
                        align-items: center;
                        .left {
                            width: 50%;
                            img {
                                width: 100%;
                            }
                        }
                        .right {
                            width: 50%;
                            display: flex;
                            flex-flow: column;

                            padding-left: 96px;
                            .big_txt {}
                            .small_txt {
                                margin-top: 20px;
                                line-height: 28px;
                            }
                        }
                    }
                }
                .desc_sub4 {
                    max-width: 1460px;
                    margin: 0 auto;
                    padding: 60px 0;
                    
                    .title {
                        text-align: center;
                        padding-bottom: 60px;
                        .big_txt {
                            display: block;
                        }
                        .small_txt {
                            display: block;
                            margin-top: 20px;
                            line-height: 28px;
                            font-weight: 500;
                        }
                    }
                    .box {
                        display: flex;
                        justify-content: center;
                        margin-top: 30px;
                        .step {
                            padding: 0 12px;
                            display: flex;
                            flex-flow: column;
                            align-items: center;
                            img {}
                            span {
                                &:nth-of-type(1) {
                                    font-size: $px24;
                                    font-weight: 700;
                                    padding-top: 30px;
                                }
                                &:nth-of-type(2) {
                                    margin-top: 16px;
                                    font-weight: 500;
                                }
                                display: block;
                            }
                        }
                    }
                }
                .desc_sub5 {
                    padding-top: 60px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {}
                    .txt_box {
                        display: flex;
                        flex-flow: column;
                        position: absolute;
                        top: 140px;
                        left: 50%;
                        transform: translateX(-50%);
                        .big_txt {}
                        .small_txt {
                            margin-top: 32px;
                        }
                    }
                }
                .desc_sub6 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding-bottom: 60px;

                    img {}
                    .txt_box {
                        position: absolute;
                        top: 100px;
                        left: 160px;
                        padding-left: 80px;
                        display: flex;
                        flex-flow: column;
                        .big_txt {
                            color: #fff;
                            line-height: 66px;
                        }
                        .small_txt {
                            color: #fff;
                            margin-top: 32px;
                        }
                    }
                }
                .desc_sub7 {
                    max-width: 1460px;
                    margin: 0 auto;
                    padding: 60px 0;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    .big_txt {
                        padding-bottom: 60px;
                    }
                    .box {
                        padding-top: 60px;
                        .first {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 40px 60px;
                            .left {
                                padding-right: 96px;
                                width: 50%;
                                > .big_txt {
                                    padding: 0;
                                    font-size: $px40;
                                    font-weight: 700;
                                    line-height: 56px;
                                }
                                p {
                                    span {
                                        font-size: $px18;
                                        margin-top: 20px;
                                        display: block;
                                    }
                                    em {
                                        color: #666;
                                        font-size: $px14;
                                        font-weight: 500;
                                        display: block;
                                        line-height: 1.8;
                                        margin-top: 20px;
                                    }
                                }
                            }
                            .right {
                                width: 50%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .second {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 40px 60px;
                            .left {
                                width: 50%;
                                img {
                                    width: 100%;
                                }
                            }
                            .right {
                                padding-left: 96px;
                                width: 50%;
                                p {
                                    font-size: $px40;
                                    font-weight: 700;
                                    line-height: 56px;
                                    span {
                                        font-size: $px18;
                                        margin-top: 20px;
                                        display: block;
                                    }
                                }
                            }
                        }
                        .third {                            
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 40px 60px;
                            .left {
                                padding-right: 96px;
                                width: 50%;
                                p {
                                    font-size: $px40;
                                    font-weight: 700;
                                    line-height: 56px;
                                    span {
                                        font-size: $px18;
                                        margin-top: 20px;
                                        display: block;
                                    }
                                }
                            }
                            .right {
                                width: 50%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .notice {
                        background-color: #f4f4f4;
                        width: 100vw;
                        padding: 60px 0;
                        
                        li {
                            max-width: 1460px;
                            margin: 0 auto;
                            padding: 0 40px;
                            font-size: $px14;
                            line-height: 24px;
                            font-weight: 500;
                            
                        }
                    }
                }
                #spec {
                    max-width: 1460px;
                    padding: 0 40px;
                    display: flex;
                    flex-flow: column;
                    margin: 0 auto;
                    > p {
                        font-size: $px32;
                        font-weight: 700;
                        margin-bottom: 24px;
                        text-align: center;
                    }
                    .content {
                        .print {
                            float: right;
                            margin: 40px 0;
                            #print_btn {
                                display: flex;
                                align-items: center;
                                font-size: $px14;
                                line-height: 24px;
                            }
                        }
                        .img {
                            img {
                                width: 100%;
                            }
                        }
                        .info {
                            margin-bottom: 80px;
                            > p {
                                font-size: $px24;
                                text-align: left;
                                font-weight: 700;
                                span {
                                    display: block;
                                    padding: 0 12px;
                                    margin-top: 16px;
                                    line-height: 26px;
                                    font-size: $px16;
                                    font-weight: 400;
                                    position: relative;
                                    &::before {
                                        content: '';
                                        display: inline-block;
                                        background-color: #000;
                                        border-radius: 50%;
                                        width: 3px;
                                        height: 3px;
                                        position: absolute;
                                        top: 12px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .more {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    position: relative;
                    margin-bottom: 80px;
                    .more_btn {
                        display: block;
                        .open {
                            display: block;
                            border: 1px solid #000;
                            border-radius: 20px;
                            padding: 0 14px;
                            width: 120px;
                            height: 40px;
                            line-height: 34px;
                            font-size: $px14;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                margin: 1px 4px 0 0;
                            }
                        }
                    }
                    .reset_btn {
                        .close {
                            
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            display: block;
                            border: 1px solid #000;
                            border-radius: 20px;
                            padding: 0 14px;
                            width: 120px;
                            height: 40px;
                            line-height: 34px;
                            font-size: $px14;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            display: none;

                            img {
                                margin: 1px 4px 0 0;
                            }
                        }
                    }
                }
                .more_open {
                    .content1 {
                        h3 {}
                        ul {
                            li {
                                dl {
                                    dt {}
                                    dd {}
                                }
                            }
                        }
                    }
                    .content2 {
                        h3 {}
                        .desc {
                            span {}
                        }
                    }
                    .content3 {
                        h3 {}
                        ul {
                            li {
                                dl {
                                    dt {}
                                    dd {}
                                }
                            }
                        }
                    }
                    .content4 {
                        h3 {}
                        ul {
                            li {
                                dl {
                                    dt {}
                                    dd {
                                        img {}
                                        a {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .offline {
            h3 {}
            .shop_box {
                .reservation {}
                .search {}
            }
        }
        #user_review {
            .title {
                h3 {
                    span {}
                }
                p {}
            }
            .review_benefit {
                .title {}
                ul {
                    li {
                        strong {}
                    }
                }
            }
            .p_review {
                p {
                    em {}
                }
                .score {
                    .left {
                        span {}
                    }
                    .right {
                        .item {
                            em {}
                            .bg {
                                .bar {}
                            }
                            .num {}
                        }
                    }
                }
            }
            .photo_video {
                .title {
                    span {
                        em {}
                    }
                    a {
                        img {}
                    }
                }
                .photo_box {
                    a {
                        img {}
                    }
                }
                .tab {
                    .left {
                        a {}
                    }
                    .right {
                        #phto_btn {}
                        label {}
                        .search_box {
                            img {}
                            #keywoed_search {}
                        }
                    }
                }
                .filter {
                    a {
                        img {}
                    }
                }
                .review_list {
                    .item {
                        .left {
                            .top {
                                .score {
                                    img {}
                                    span {}
                                }
                                .date {}
                            }
                            .point {
                                .item {
                                    .title {}
                                    .desc {}
                                }
                            }
                            .review_txt {
                                .text {
                                    .user_txt {}
                                }
                                p {
                                    img {}
                                }
                            }
                            .review_img {
                                img {}
                            }
                            a {
                                em {}
                            }
                        }
                        .right {
                            span {
                                em {}
                            }
                        }
                    }
                }
                .page_nation {
                    img {}
                    a {}
                }
            }
        }
        #props {
            h3 {}
            .content {
                .item {
                    .item_img {
                        img {}
                    }
                    .title {}
                    p {
                        span {}
                    }
                    .buy {
                        .price {}
                        a {
                            img {}
                        }
                    }
                }
            }
        }
        #cs {
            .title {
                h3 {}
                a {}
            }
            .content {
                .support {
                    .left {
                        p {
                            img {}
                        }
                    }
                    .right {
                        a {}
                    }
                }
                .inquiry {
                    .left {
                        p {}
                    }
                    a {
                        span {
                            em {}
                        }
                    }
                }
            }
        }
        .notice {
            .title {
                h3 {}
                .tab {
                    .delivery_t {}
                    .as_t {}
                    .installation_t {}
                }
            }
            .delivery_c {
                li {
                    em {}
                }
            }
            .as_c {
                li {
                    em {}
                }
            }
            .installation_c {
                li {}
            }
        }
    } 
}