main {}
main #mainslide1 {
    max-width: 1920px; margin: 0 auto;
}
main #mainslide1 .swiper-wrapper {}
main #mainslide1 .swiper-wrapper .slide1 {}
main #mainslide1 .swiper-wrapper .slide1 .main_bnr1 {
    background: url(../images/main_bnr/Hero_Kitchen_PC.avif) no-repeat center;
    background-size: cover; display: block; height: 600px;
}
main #mainslide1 .swiper-wrapper .slide1 .main_bnr1 .txt_box {
    max-width: 1680px; margin: 0 auto; padding: 150px;
}
main #mainslide1 .swiper-wrapper .slide1 .main_bnr1 .txt_box h2 {
    font-size: 2.75rem; color: #222;
}
main #mainslide1 .swiper-wrapper .slide1 .main_bnr1 .txt_box p {
    color: #222; margin-top: 12px; font-size: 1.125rem;
}

main #mainslide1 .swiper-wrapper .slide2 {}
main #mainslide1 .swiper-wrapper .slide2 .main_bnr2 {
    background: url(../images/main_bnr/img_main_bnr_05.jpg) no-repeat center;
    background-size: cover; display: block; height: 600px;
}
main #mainslide1 .swiper-wrapper .slide2 .main_bnr2 .txt_box {
    max-width: 1476px; margin: 0 auto;
    padding: 140px;
}
main #mainslide1 .swiper-wrapper .slide2 .main_bnr2 .txt_box h2 {
    font-size: 2.5rem; line-height: 1.5; letter-spacing: -0.5px;
    color: #fff;
}
main #mainslide1 .swiper-wrapper .slide2 .main_bnr2 .txt_box p {
    font-size: 1.25rem; margin-top: 12px; color: #fff;
}

main .btn {}
main .btn #pause {}
main .btn #start {}
main .swiper-pagination {}
main .pagination_progress {}
main .page {
    display: flex; width: 400px; background: #000; position: fixed; z-index: 999;
}
main .swiper-button-prev {background:url(https://www.lge.co.kr/lg5-common/images/icons/btn-arr-36x36-rt.svg)}
main .swiper-button-next {background:url(https://www.lge.co.kr/lg5-common/images/icons/btn-arr-36x36-rt.svg)}
main .swiper-button-prev::after {display: none;}
main .swiper-button-next::after {display: none; }